name: Checks

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
    - name: "Checkout"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # - name: "Use NodeJS 14"
    #   uses: actions/setup-node@v2
    #   with:
    #     node-version: '14'

    # - name: "Setup npm"
    #   run: |
    #     npm set @xcanchal:registry=https://npm.pkg.github.com/xcanchal
    #     npm set "//npm.pkg.github.com/:_authToken=${{ secrets.PUBLISH_PACKAGES }}"

    # - name: Install dependencies
    #   run: |
    #     npm ci
    #     npx lerna bootstrap

    # - name: Run tests
    #   run: npx lerna exec npm run test
